
@model HamperDetailsViewModel

@{
    ViewData["Title"] = "Details";
}



<div class="container-fluid p-4">
<h2 class="text-center">Hamper Details: </h2>
  
        <div class="row">
            <div class="col">
           <div class="row pb-2 justify-content-between">
               <span class="col"> Hamper Name: </span> 
               <span class="col"> @Model.Name </span>
               </div>
            <div class="row pb-2 justify-content-between">
                <span class="col"> Hamper Category: </span>
                <span class="col"> @Model.Category </span></div>
           <div class="row pb-2 justify-content-between">
               <span class="col">  Hamper Details: </span>
               <span class="col"> d </span></div>
            <div class="row pb-2 justify-content-between">
                <span class="col"> Hamper Cost: </span>
                <span class="col"> @Model.Cost.ToString("C") </span>
                </div>
            </div>
          <div class="col-sm-4">
            <img class="img-fluid" src="/Hamper/ViewImage/@Model.ImageId"/>
            </div>
        </div>

   
    </div>

