
@model HamperDetailsViewModel

@{
	ViewData["Title"] = "Details";
}
@{ if (Model.Name != null)
	{
		await Html.RenderPartialAsync("_HamperDetails", Model);
	}
	else
	{
		<div><span> This Product is no longer available</span></div>
	}
}
