@model HomeIndexViewModel
@{
    ViewData["Title"] = "Index";
}
 

<div class="container-fluid pl-5 pr-5 rounded shadow" style="background-color: slategrey;">
    <h2 class="text-white text-center">Our Current Hamper Selections:</h2>
   <div class="slider">
  <div>
    <img src="~/static/img/baby_hamper.jpg" class="slide-item"/>
  </div>
  <div>
    <img src="~/static/img/baby_clothes_hamper.jpg" class="slide-item"/>
  </div>
  <div>
    <img src="~/static/img/disney_kids.jpeg" class="slide-item"/>
  </div>
  <div>
    <img src="~/static/img/male_hamper1.jpg" class="slide-item"/>
  </div>
  <div>
    <img src="~/static/img/women_hamper1.jpg" class="slide-item"/>
  </div>
  <div>
    <img src="~/static/img/Special_Wine_Cheese.jpg"class="slide-item" />
  </div>
</div> 
</div>
<link href="~/static/css/searchbar.css" rel="stylesheet" />
<div class="container mt-5 mb-4 justify-content-center">
 
    <div class="row justify-content-center mb-3">
        <div class="col-12 col-md-10 col-lg-8">
            <form class="card card-sm">
                <div class="card-body row no-gutters align-items-center">
                    <div class="col-auto">
                        <i class="fa fa-search h4 text-body"></i>
                    </div>
                    <!--end of col-->
                    <div class="col">
                        <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Search For Hampers">

                    </div>
                    <!--end of col-->
                    <div class="col-auto">
                        <button class="btn btn-lg btn-success" type="submit">Search</button>
                    </div>

                    <!--end of col-->
                    
                </div>
               
            </form>
        </div>
    </div>
</div>


<partial name="_HamperView" />