
@{
    ViewData["Title"] = "Index";
}
<link href="~/static/css/carousel.css" rel="stylesheet" />
<h2 class="text-center">Our Current Hamper Selections:</h2>
<div class="container">
    <div class="row blog">
        <div class="col-md-12">
            <div id="blogCarousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#blogCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#blogCarousel" data-slide-to="1"></li>
                </ol>
                <!-- Carousel items -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-md-3">
                                <a href="#">
                                    <img class="slide-img" src="~/static/img/babyhamperf.jpg" alt="Image" >
                                </a>
                                <div  class="caption">
                                    <h4>Baby Boy Hampers</h4>
                                    <a class="btn btn-mini" href="#">»</a>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <a href="#">
                                    <img class="slide-img" src="~/static/img/babyboy_hamperf.png" alt="Image" >
                                </a>
                                <div class="caption">
                                    <h4>Baby Girl Hampers</h4>
                                    
                                    <a class="btn btn-mini" href="#">»</a>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <a href="#">
                                    <img class="slide-img" src="~/static/img/birthday_hamperf.jpg" alt="Image">
                                </a>
                                <div class="caption">
                              
                                    <h4>Birthday Hampers</h4>
                                    <a class="btn btn-mini" href="#">»</a>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <a href="#">
                                    <img class="slide-img" src="~/static/img/food_hamper-f.jpg" alt="Image">
                                </a>
                                <div class="caption">
                                    <h4>Food Hampers</h4>
                                    <a class="btn btn-mini" href="#">»</a>
                                </div>
                            </div>
                        </div>
                        <!--.row-->
                    </div>
                    <!--.item-->
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-md-3">
                                <a href="#">
                                    <img class="slide-img" src="~/static/img/frozen_hamper.jpg" alt="Image">
                                </a>
                                <div class="caption">
                                    <h4>Hampers for Kids</h4>
                                    <a class="btn btn-mini" href="#">»</a>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <a href="#">
                                    <img class="slide-img" src="~/static/img/hamper_for_her_f.jpg" alt="Image">
                                </a>
                                <div class="caption">
                                    <h4>Hampers for Women</h4>
                                   
                                    <a class="btn btn-mini" href="#">»</a>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <a href="#">
                                    <img class="slide-img" src="~/static/img/male_gift_hamperf.jpg" alt="Image">
                                </a>
                                <div class="caption">
                                    <h4>Hampers for Men</h4>
                                  
                                    <a class="btn btn-mini" href="#">»</a>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <a href="#">
                                    <img class="slide-img" src="~/static/img/christmas_hamperf.jpg" alt="Image">
                                </a>
                                <div class="caption">
                                    <h4>Seasonal Hampers</h4>
                                   
                                    <a class="btn btn-mini" href="#">»</a>
                                </div>
                            </div>

                        </div>
                        <!--.row-->
                    </div>
                    <!--.item-->
                </div>
                <!--.carousel-inner-->
            </div>
            <!--.Carousel-->
        </div>
    </div>
</div>
<script src="~/static/js/carousel.js"></script>

<div class="container mt-5 mb-4 justify-content-center">
  
</div>