@model HomeIndexViewModel
@{
    ViewData["Title"] = "Index";
}
 

<div class="container bg-info p-5">
    <h2 class="text-white text-center">Our Current Hamper Selections:</h2>
   <div class="slider">
  <div>
    <img src="~/static/img/baby_hamper.jpg" class="slide-item"/>
  </div>
  <div>
    <img src="~/static/img/baby_clothes_hamper.jpg" class="slide-item"/>
  </div>
  <div>
    <img src="~/static/img/disney_kids.jpeg" class="slide-item"/>
  </div>
  <div>
    <img src="~/static/img/male_hamper1.jpg" class="slide-item"/>
  </div>
  <div>
    <img src="~/static/img/women_hamper1.jpg" class="slide-item"/>
  </div>
  <div>
    <img src="~/static/img/Special_Wine_Cheese.jpg"class="slide-item" />
  </div>
</div> 
</div>
<link href="~/static/css/searchbar.css" rel="stylesheet" />
<div class="container mt-5 mb-4 justify-content-center">
 
    <div class="row justify-content-center mb-3">
        <div class="col-12 col-md-10 col-lg-8">
            <form class="card card-sm">
                <div class="card-body row no-gutters align-items-center">
                    <div class="col-auto">
                        <i class="fa fa-search h4 text-body"></i>
                    </div>
                    <!--end of col-->
                    <div class="col">
                        <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Search For Hampers">

                    </div>
                    <!--end of col-->
                    <div class="col-auto">
                        <button class="btn btn-lg btn-success" type="submit">Search</button>
                    </div>

                    <!--end of col-->
                    
                </div>
               
            </form>
        </div>
    </div>
</div>
<div class="container">
   <div class="d-flex flex-row flex-wrap justify-content-center ">
        @{
            foreach (var hamper in Model.Hampers)
            {

                        <div class="col-sm-3 justify-content-center shadow-sm p-3 m-3">

                            <img class="img-fluid" src="/Home/ViewImage/@hamper.ImageId" />
                
                      <div class="row mt-3 align-items-center justify-content-center text-center"><p>@hamper.HamperName <span class="text-dark">@hamper.Cost.ToString("C")</span></p></div>
                     <div class="row-md-auto mt-2  justify-content-center text-center">
                         <button class="col-auto btn btn-secondary">
                             @Html.ActionLink("Details",
                         "Details",
                          "Hamper", 
                           new{id = hamper.HamperId}, new {@style = "text-decoration: none;", @class= "text-white"}) </button> 
                           </div>
                    <div class="row mt-2 justify-content-center text-center">
                        <div class="col">
                    <form>
                         <div class="form-group row justify-content-center">
                         <input class="col-5 mr-2 form-control" type="number" min="0" max="10" />
                         <input class="btn btn-primary form-control w-25" value="Cart" type="button"/>
                          </div>
                    </form>
                        </div>
                    </div>
               

            }
        }
    </div>
    </div>
   