@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<style>
	#lab_social_icon_footer {
		padding: 5px 0;
		background-color: #ffffff;
	}

		#lab_social_icon_footer a {
			color: #333;
		}

		#lab_social_icon_footer .social:hover {
			-webkit-transform: scale(1.1);
			-moz-transform: scale(1.1);
			-o-transform: scale(1.1);
		}

		#lab_social_icon_footer .social {
			-webkit-transform: scale(0.8);
			/* Browser Variations: */
			-moz-transform: scale(0.8);
			-o-transform: scale(0.8);
			-webkit-transition-duration: 0.5s;
			-moz-transition-duration: 0.5s;
			-o-transition-duration: 0.5s;
		}
		/*
    Multicoloured Hover Variations
*/

		#lab_social_icon_footer #social-fb:hover {
			color: #3B5998;
		}

		#lab_social_icon_footer #social-tw:hover {
			color: #4099FF;
		}

		#lab_social_icon_footer #social-gp:hover {
			color: #d34836;
		}

		#lab_social_icon_footer #social-em:hover {
			color: #f39c12;
		}
</style>
<div class="container">
	<div class="d-flex flex-row flex-wrap justify-content-around text-center">
		<div class="" style="flex: 1 0 40%; padding: 14px;">
			<p class="mbr-text">
				<strong>Address</strong>
				<br>
				<br>1234 Street Name
				<br>City, AA 99999
				<br>
				<br>
				<br><strong>Contacts</strong>
				<br>
				<br>Email: support@mobirise.com
				<br>Phone: +1 (0) 000 0000 001
				<br>Fax: +1 (0) 000 0000 002
			</p>
		</div>
		<div style="flex: 1 0 60%; padding: 14px;">
			<p class="mbr-text">
				<strong>Links</strong>
				<br>
				<br><a class="text-dark" href="">Website builder</a>
				<br><a class="text-dark" href="">Download for Windows</a>
				<br><a class="text-dark" href="">Download for Mac</a>
				<br>
				<br><strong>Feedback</strong>
				<br>
				<br>Please send us your ideas, bug reports, suggestions! Any feedback would be appreciated.
				<div id="lab_social_icon_footer" class="text-center center-block">
					<a href="https://www.facebook.com/"><i id="social-fb" class="fa fa-facebook fa-3x social"></i></a>
					<a href="https://twitter.com/"><i id="social-tw" class="fa fa-twitter fa-3x social"></i></a>
					<a href="https://plus.google.com/"><i id="social-gp" class="fa fa-google-plus fa-3x social"></i></a>
					<a href="mailto:#"><i id="social-em" class="fa fa-envelope fa-3x social"></i></a>
				</div>
			</p>
		</div>
		<div style="flex: 1 1 50%; padding: 14px;">
			<div class="w-100 h-100"><iframe class="w-100 h-100" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0Dx_boXQiwvdz8sJHoYeZNVTdoWONYkU&amp;q=place_id:ChIJn6wOs6lZwokRLKy1iqRcoKw" allowfullscreen=""></iframe></div>
		</div>
	</div>
	<div class="footer-lower">
		<div class="media-container-row">
			<div class="col-sm-12">
				<hr>
			</div>
		</div>
		<div class="media-container-row mbr-white">
			<div class="col-sm-6 copyright">
				<p class="mbr-text mbr-fonts-style display-7">
					© Copyright 2019 Hamper Gift - All Rights Reserved
				</p>
			</div>
			
			</div>
		</div>
</div>