
@{
    ViewData["Title"] = "AddImage";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="container">
    <h2>Add Image</h2>
    <form asp-controller="Admin" asp-action="AddImage" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="form-group">
           <span>Image Upload</span>
            <input type="file" name="image" />
        </div>
        <button class="btn btn-secondary">Upload Image</button>
    </form>

    </div>


