@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@model HomeIndexViewModel
<div class="container">

	<h3>Welcome to the Admin Page! </h3>
	<div class="row justify-content-center mt-5">
		<div class="bg-white shadow rounded w-50">
			<h4 class="text-center">Dashboard:</h4>
			<ul class="text-center">


				<li>Available Hampers:</li>
				<li>User Accounts Created: </li>
				<li>Users Logged in: </li>

			</ul>
		</div>

	</div>
	<div class="row justify-content-center p-4">
		<form class="form-inline" asp-controller="Admin" asp-action="EditCategory" method="get" asp-route-id="@Model.categoryid">
			<select class="custom-select m-2" asp-for="categoryid" asp-items="@Model.CategoryNames">
				<option value="">Select Category</option>
			</select>
			<button class="btn btn-secondary" type="submit">Edit</button>
		</form>

	</div>
	<partial name="_HamperView" />


</div>