@model UserCartViewModel
@{
    ViewData["Title"] = "Cart";
}

<h2>@User.Identity.Name's Cart</h2>
<div class="container">

	<div class="d-flex flex-column">

		<div class="d-flex flex-row justify-content-between bg-white rounded shadow m-2">
			@{ 
				foreach(var item in Model.mapCartDatas)
				{
					<div>@item.HamperName</div>
					<div>@item.Quantity.ToString()</div>
					<div>@item.Cost.ToString("C")</div>
				}
					}
				
		</div>


	</div>



</div>
