@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="container">
    <div class="row row-30">
        <div class="col-md-4 col-xl-5">
            <div class="pr-xl-4">
                <a class="brand" href="index.html"><img class="brand-logo-light" src="~/static/img/logo.png"></a>
                <p>We are a renowned and respected online retail store, dedicated in crafting the highest quality hampers</p>
                <!-- Rights-->
                <p class="rights"><span>©  </span><span class="copyright-year">2018</span><span> </span><span>Abouharb</span><span>. </span><span>All Rights Reserved.</span></p>
            </div>
        </div>
        <div class="col-md-4">
            <h5>Contacts</h5>
            <dl class="contact-list">
                <dt>Address:</dt>
                <dd>75 Alan Avenue, Belmore 2192 NSW, Australia</dd>
            </dl>
            <dl class="contact-list">
                <dt>email:</dt>
                <dd><a href="mailto:#">joeharabj.h@gmail.com</a></dd>
            </dl>
            <dl class="contact-list">
                <dt>phones:</dt>
                <dd>
                    <a href="tel:#">+64 97599590</a> <span>or</span> <a href="tel:#">+64 97599590</a>
                </dd>
            </dl>
        </div>
        <div class="col-md-4 col-xl-3">
            <h5>Links</h5>
            <ul class="nav-list">
                <li><a href="#">About</a></li>
                <li><a href="#">Home</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="#">Register</a></li>
                <li><a href="#">Product Search</a></li>
            </ul>
        </div>
    </div>
</div>
