<!DOCTYPE html>

<html>
<head>
    <meta cha'utf-8' />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width" />
    <link href="~/libraries/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/libraries/font-awesome/css/font-awesome.css" rel="stylesheet" />
  
    <link href="~/static/css/main.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body class="bg-dark container-fluid">

    <div class="row navbar navbar-expand-md navbar-light bg-light mb-4 text-center">
        @{
            Html.RenderPartial("_NavMenu");
        }
    </div>

    <main class="bg-light container-fluid">
            @RenderBody()
    </main>

    <footer class="bg-white">
        <div>

        </div>
    </footer>
    <script src="~/libraries/twitter-bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/libraries/jquery/jquery.min.js"></script>
    <script src="~/libraries/popper.js/popper.min.js"></script>
    <script src="~/static/js/nav.js"></script>
</body>
</html>
