<!DOCTYPE html>

<html>
<head>
    <meta cha'utf-8' />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/libraries/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/libraries/font-awesome/css/font-awesome.css" rel="stylesheet" />
   <link type="text/css" href="~/libraries/slick-1.8.1/slick/slick.css" rel="stylesheet"/>
   <link type="text/css" href="~/libraries/slick-1.8.1/slick/slick-theme.css" rel="stylesheet"/>
    <link href="~/static/css/nav.css" rel="stylesheet" />
    <link href="~/static/css/footer.css" rel="stylesheet" />
<link href="~/static/css/slider.css" rel="stylesheet" />
    <link href="~/static/css/layout.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body class="container-fluid bg-light wrap">

    <div class="d-flex flex-wrap section navbar navbar-expand-md navbar-light bg-white shadow rounded mt-2">

        <partial name="_NavMenu" />
        <script src="~/static/js/nav.js"></script>
    </div>

    <main class="section-main bg-light pt-4 rounded">
        
        @RenderBody()
    </main>

    <footer class="section footer bg-white rounded shadow mt-4">
      <partial name="_Footer"/>
    </footer>
    <script src="~/libraries/jquery/jquery.js"></script>
    <script type="text/javascript" src="~/libraries/slick-1.8.1/slick/slick.js"></script>
   
   <script type="text/javascript" src="~/static/js/slider.js"></script>
    <script src="~/libraries/popper.js/popper.js"></script>
    <script src="~/libraries/twitter-bootstrap/js/bootstrap.bundle.min.js"></script>
    
   
</body>
</html>
