@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<h3 class="col-mx-auto mr-md-auto"><img src="~/static/img/logo.png" /> Grande gift</h3>
<button class="navbar-toggler col-mx-auto" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="col-mx-auto collapse navbar-collapse" id="navbarCollapse">
    <div class="navbar-nav text-center ml-md-auto">
        <a class="col nav-item mt-mx-auto mb-mx-auto"> Home <i class="fa fa-home" aria-hidden="true"></i></a>
        <a class="col nav-item mt-mx-auto mb-mx-auto"> Login <i class="fa fa-sign-in" aria-hidden="true"></i></a>
        <a class="col nav-item mt-mx-auto mb-mx-auto"> Register <i class="fa fa-user-circle" aria-hidden="true"></i></a>
        <a class="col nav-item mt-mx-auto mb-mx-auto"> About Us <i class="fa fa-info" aria-hidden="true"></i></a>
        <a class="col nav-item  mt-mx-auto mb-mx-auto"> Cart <i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
        <div class="col-md-auto float-right mt-mx-auto mb-mx-auto"> 
            <form class="form-inline ml-mx-auto mt-mx-2 mb-mx-2">
                <span class="active-cyan-4 form-group">
                    <input class="form-control" type="text" placeholder="Search Site for hampers" />
                    <button type="submit" class="btn bg-transparent "><i class="fa fa-search" aria-hidden="true"></i></button>
                </span>
            </form>
        </div>
        
    </div>
</div>
